<html>
<head>
<link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" href="k.png" type="image/gif">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
<title> Surplus Suppliers </title>
</head>
<body style="background-color:#F27024" >
<img id="ico" src="{{url_for('static',filename='ico.png')}}">


<div class="container conta">
    <div class="row align-items-center">
          <div class="col-lg-8 col-sm-12 order-sm-first styl" style="text-align:center">
            <p id="p1" >Surplus Suppliers is a app where you can donate food to people who are in need of it
                our motto is very simple as we are that is <br><b>“ Recycling food from desirable to deprived “</b></p>

            <p id="p2">Our aim is to save the wastage of excess food and deliver it to the people who are in need.  <br>
              <b>  “ Love and Food  are ment for sharing not for wasting “ </b> </p>
              <br>
                <a  href="/signin" class="myButton">Donate</a>
            </div>
          <div class="col-lg-4 col-sm-12 order-sm-last " style="padding-top:10px;">
              <img id="pic" src="{{url_for('static',filename='k.png')}}">
          </div>
     </div>
 </div>


<div class="pom">© S M I M D </div>
  </body>
</html>
