<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{url_for('static',filename='test.css')}}"><!-- -->
<link rel="stylesheet" href="{{url_for('static',filename='forms.css')}}">
<link rel="icon" href="{{url_for('static',filename='k.png')}}" type="image/gif"><!-- -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js%22%3E"> </script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="{{url_for('static',filename='html5-qrcode.min.js')}}"></script>
<title> Surplus Suppliers </title>

</head>
<style>
#anc{
  background:#F27024;
  color:black;
}
#anc:hover{
  background:black;
  color:#F27024;
}
#anc:active{
  background:black;
  color:#F27024;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    color: #555;
    cursor: default;
    background-color: #000;
    border: 1px solid #000;
        border-bottom-color: rgb(0, 0, 0);
    border-bottom-color: transparent;
}
.nav-tabs > li > a:hover {
    border-color: black;
}
</style>
<body style="background-color:#F27024">
<img id="icoi" src="{{url_for('static',filename='ico.png')}}">
<div class="container">
  <ul class="nav nav-tabs" style="border-bottom: 1px solid black;padding-bottom:0.6px;">
    <li class="active"><a data-toggle="tab" href="#home" id="anc">Donor</a></li>
    <li><a data-toggle="tab" href="#menu1" id="anc">Receiver</a></li>
    <li><a data-toggle="tab" href="#menu2" id="anc">Scan QR</a></li>
  <!--  <li><a data-toggle="tab" href="#menu3" id="anc">User registeration</a></li> -->
  </ul>
<div class="tab-content">
<div id="home" class="tab-pane fade in active">
 <div class="card-group">
  <div class="card" style="background-color:black;color:#F27024;">
    <div class="card-body">
      <h5 class="card-title" id="textdecohead" style="text-align: center;">Details</h5>
      <table class="table" style="color: #F27024;">
        <tr>
          <td><p class="card-text" id = "textdeco">Name</p></td>
          <td><p class="card-text" id = "textdeco">{{deta[0]}}</p></td>
        </tr>
        <tr>
          <td><p class="card-text" id = "textdeco">Role</p></td>
          <td><p class="card-text" id = "textdeco">{{deta[1]}}</p></td>
        </tr>
        <tr>
          <td><p class="card-text" id = "textdeco">Tax reduction</p></td>
          <td><p class="card-text" id = "textdeco">{{deta[2]}}</p></td>
        </tr>
        <tr>
          <td><p class="card-text" id = "textdeco">Donation Count</p></td>
          <td><p class="card-text" id = "textdeco">{{deta[3]}}</p></td>
        </tr>
        <tr>
          <td><p class="card-text" id = "textdeco">Total donation in KG</p></td>
          <td><p class="card-text" id = "textdeco">{{deta[4]}}</p></td>
        </tr>

      </table>
    </div>
  </div>
  <div class="card"  style="background-color:black;color:#F27024;">
    <div class="card-body">
     <form action="{{url_for('receving')}}" method="post">
      <input type="text"  class="form-control" name="food" placeholder="Enter the quantity in Kg"/><br>
        <div id="ext"></div>
        <br>
        <center>
          <button type="submit" class="btn btn-lg ms-2"> Submit </button>
        </center>
      </form>
      {% with message = get_flashed_messages() %}
        {% if message %}
          {% for mess in message %}
          <div id=flashwrapper class="alert alert-dismissible" role="alert" style="color:green;text-align:center;">{{ mess }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close" onClick="close('flashwrapper')">
          <span aria-hidden="true">x</span>
          </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
    </div>
  </div>
</div>
<script>
  $(document).ready(function() {
    setTimeout(function() {
        $('.alert').fadeOut('slow');
    }, 2000);
</script>
<script>
  var x=0;
  function add(){
      if(x<5){
          x=x+1;
          var q = "c"+x;
          var qq = "b"+x;
          console.log("hi");
          var cre = document.createElement('input');
          var cr = document.createElement('br');
          cre.setAttribute("type", "text");
        cre.setAttribute("id", q);
        cre.setAttribute("name", q);
        cre.setAttribute("class", "form-control");
        cre.setAttribute("placeholder", "Enter the food");
        cr.setAttribute("id",qq);
          var ad = document.getElementById("ext");
          ad.appendChild(cre);
          ad.appendChild(cr);
      }
      else{
          window.alert("Maximum Limit Exceeded");
      }
  }
  function remo(){
      console.log("hoi");
      var a = "c"+x;
      var qq = "b"+x;
      var re = document.getElementById(a);
      var ad = document.getElementById("ext");
      var ge = document.getElementById(qq);
      ad.removeChild(re);
      ad.removeChild(ge);
      x=x-1;
  }
</script>
</div>
<div id="menu1" class="tab-pane fade">
  <div class="card-group">
   <div class="card" style="background-color:black;color:#F27024;">
     <div class="card-body">
       <h5 class="card-title" id="textdecohead" style="text-align: center;">Details</h5>
        <table class="table" style="color: #F27024;">
          <tr>
            <td><p class="card-text" id = "textdeco">Name</p></td>
            <td><p class="card-text" id = "textdeco">{{det[0]}}</p></td>
          </tr>
          <tr>
            <td><p class="card-text" id = "textdeco">Address</p></td>
            <td><p class="card-text" id = "textdeco" class="card-text" id = "textdeco">{{det[2]}}</p></td>
          </tr>
          <tr>
            <td><p class="card-text" id = "textdeco">Number</p></td>
            <td><p class="card-text" id = "textdeco">{{det[1]}}</p></td>
          </tr>
          <tr>
            <td><p class="card-text" id = "textdeco">Role</p></td>
            <td><p class="card-text" id = "textdeco">{{det[3]}}</p></td>
          </tr>
          <tr>
            <td><p class="card-text" id = "textdeco">Recieve Count</p></td>
            <td><p class="card-text" id = "textdeco">{{det[4]}}</p></td>
          </tr>
          <tr>
            <td><p class="card-text" id = "textdeco">Total Quantity</p></td>
            <td><p class="card-text" id = "textdeco">{{det[5]}}</p></td>
          </tr>
        </table>
   </div>
   </div>
   <div class="card"  style="background-color:black;color:#F27024;">
     <div class="card-body">
       <br>
       <br>
       <form action="{{url_for('recieve')}}" method="post">
        <div class="form-group" id="formfloat">
           <input type="text"  class="form-control" name="food" placeholder="Enter the quantity in Kg"/><br>
             <div id="ext"></div>
          </div>
          <br>
          <br>
          <center>
            <button type="submit" class="btn btn-lg ms-2">Receive</button>
          </center>
        </form>
     </div>
     <br><br>
   </div>
  </div>
  <br><br>
  </div>

<div id="menu2" class="tab-pane fade">
  <div class="row">
    <div class="col">
      <br>
      <br>
      <div style="width:500px;" id="reader"></div>
    </div>
    <div class="col" style="padding:30px;">
      <h4>SCAN RESULT</h4>
      <div id="result">Result Here</div>
      <form id="hid" action="{{url_for('worker')}}" method="POST">
        <input id="put" type="hidden" name="hidden"/>
        <button id="hiddd" type="submit" name="button" hidden></button>
      </form>
    </div>
  </div>
  <script type="text/javascript">
  function onScanSuccess(qrCodeMessage) {
      document.getElementById('result').innerHTML = '<p class="result">'+qrCodeMessage+'</p>';
      var x= document.getElementById('put');
      x.setAttribute("value", qrCodeMessage);
      document.getElementById('hiddd').click();
  }
  function onScanError(errorMessage) {
    //handle scan error
  }
  var html5QrcodeScanner = new Html5QrcodeScanner(
      "reader", { fps: 10, qrbox: 250 });
  html5QrcodeScanner.render(onScanSuccess, onScanError);
  </script>
</div>
<div id="menu3" class="tab-pane fade">
    <div class="container py-5 h-100" style="background: #F27024;">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col">
          <div class="card card-registration my-4" style="background: black;color: #F27024;">
            <div class="row g-0">
              <div class="col-xl">
                <div class="card-body p-md-5" style="background: black;color: #F27024;">
                  <h3 class="mb-5 text-uppercase" style="text-align: center;">User registration form</h3>
                  <form action="{{url_for('register')}}" method="post">
                  <div class="row">
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <input type="text" id="form3Example1m" class="form-control form-control-lg" name="fn"/>
                        <label class="form-label" for="form3Example1m">First name</label>
                      </div>
                    </div>
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <input type="text" id="form3Example1n" class="form-control form-control-lg" name="ln"/>
                        <label class="form-label" for="form3Example1n">Last name</label>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <input type="text" id="form3Example1m1" class="form-control form-control-lg" name="mn"/>
                        <label class="form-label" for="form3Example1m1">Mother's name</label>
                      </div>
                    </div>
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <input type="text" id="form3Example1n1" class="form-control form-control-lg" name="fan"/>
                        <label class="form-label" for="form3Example1n1">Father's name</label>
                      </div>
                    </div>
                  </div>

                  <div class="form-outline mb-4">
                    <input type="text" id="form3Example8" class="form-control form-control-lg" name="add"/>
                    <label class="form-label" for="form3Example8">Address</label>
                  </div>

                  <div class="d-md-flex justify-content-start align-items-center mb-4 py-2">

                    <h6 class="mb-0 me-4">Gender: </h6>

                    <div class="form-check form-check-inline mb-0 me-4">
                      <input
                        class="form-check-input"
                        type="radio"
                        name="inlineRadioOptions"
                        id="femaleGender"
                        value="Female"
                      />
                      <label class="form-check-label" for="femaleGender">Female</label>
                    </div>

                    <div class="form-check form-check-inline mb-0 me-4">
                      <input
                        class="form-check-input"
                        type="radio"
                        name="inlineRadioOptions"
                        id="maleGender"
                        value="Male"
                      />
                      <label class="form-check-label" for="maleGender">Male</label>
                    </div>

                    <div class="form-check form-check-inline mb-0">
                      <input
                        class="form-check-input"
                        type="radio"
                        name="inlineRadioOptions"
                        id="otherGender"
                        value="Other"
                      />
                      <label class="form-check-label" for="otherGender">Other</label>
                    </div>

                  </div>

                  <div class="row">
                    <div class="col-md-6 mb-4">

                      <select class="select" name="state">
                        <option value="1">State</option>
                        <option value="Tamil Nadu">Tamil Nadu</option>
                        <option value="Maharastra">Maharastra</option>
                        <option value="Uttar pradesh">Uttar pradesh</option>
                      </select>

                    </div>
                    <div class="col-md-6 mb-4">

                      <select class="select" name="city">
                        <option value="1">City</option>
                        <option value="Chennai">Chennai</option>
                        <option value="Mumbai">Mumbai</option>
                        <option value="Delhi">Delhi</option>
                      </select>

                    </div>
                  </div>

                  <div class="form-outline mb-4">
                    <input type="text" id="form3Example9" class="form-control form-control-lg" name="dob"/>
                    <label class="form-label" for="form3Example9">DOB</label>
                  </div>

                  <div class="form-outline mb-4">
                    <input type="text" id="form3Example90" class="form-control form-control-lg" name="pin"/>
                    <label class="form-label" for="form3Example90">Pincode</label>
                  </div>



                  <div class="d-flex justify-content-end pt-3">
                    <button type="submit" class="btn btn-warning btn-lg ms-2">Submit form</button>
                  </div>
                 </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
</div>
</div>


</body>
</html>
